<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.prayer_requests.any? %>
      <h3>Prayer Requests (<%= @user.prayer_requests.count %>)</h3>
      <ol class="prayer_requests">
        <%= render @prayer_requests %>
      </ol>
      <%= will_paginate @prayer_requests %>
    <% end %>
  </div>
</div>
